# Python Einführung
Das ist eine **Einführung** für *Python*

In [1]:
print ("Hello World!")

Hello World!

In [2]:
# Das ist ein Kommentar
print ("something")

something

In [3]:
name = "Lovelace"

In [4]:
print (name)

Lovelace

In [5]:
age = 73

In [6]:
print (age)

73

In [7]:
size = 1.7123

In [8]:
knows_math = True
likes_gardening = False
print (likes_gardening)

False

In [9]:
type(knows_math)

bool

In [10]:
type (age)

int

In [11]:
type (name)

str

In [12]:
type (size)

float

## Operatoren

In [13]:
5+5

10

In [14]:
100*age

7300

In [15]:
name + name

'LovelaceLovelace'

In [16]:
name*10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [17]:
name+10

TypeError: can only concatenate str (not "int") to str

In [18]:
name+"10"

'Lovelace10'

In [19]:
size/age

0.023456164383561642

In [20]:
50-10

40

In [21]:
number of articles = 50

SyntaxError: invalid syntax (<ipython-input-21-4da8f14379b8>, line 1)

In [22]:
number_of_articles = 50

In [23]:
int (number_of_articles) / 10

5.0

## Funktionen und Methoden

In [24]:
len(name)

8

In [25]:
print(name)

Lovelace

In [26]:
name.upper()

'LOVELACE'

In [27]:
print(name)

Lovelace

In [28]:
name_capital = name.upper()

In [29]:
print(name_capital)

LOVELACE

In [30]:
name.count

In [31]:
name.count()

TypeError: count() takes at least 1 argument (0 given)

In [32]:
name.count("e")

2

In [33]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [34]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [35]:
name.replace?

## Listen und Dictionaries

In [36]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [37]:
type (names)

list

In [38]:
names (2)

TypeError: 'list' object is not callable

In [39]:
names(2)

TypeError: 'list' object is not callable

In [40]:
names [2]

'Curie'

In [41]:
names[0]

'Lovelace'

In [42]:
type (names[3])

str

In [43]:
name [3]

'e'

In [44]:
names [-1]

'Hawking'

In [45]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [46]:
len(names)

4

In [47]:
names[:2]

['Lovelace', 'Darwin']

In [48]:
names[2:]

['Curie', 'Hawking']

In [50]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1862}

In [51]:
authors_and_birth_years[Darwin]

NameError: name 'Darwin' is not defined

In [52]:
authors_and_birth_years["Darwin"]

1809

## for-Schleife

In [53]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [59]:
for name in names:
    print(name + " did awesome stuff")
print("\n")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff

In [55]:
name

'Hawking'

## Übung

In [62]:
for author, year in authors_and_birth_years.items():
    print(author)
    print(year)

Lovelace
1882
Darwin
1809
Noether
1862

In [64]:
Lieblingsessen = {"Ina": "Pizza", "Cordula": "Erdbeerkuchen", "Daniela": "Schnitzel", "Ella": "Spargel"}

In [70]:
for name, essen in Lieblingsessen.items():
    print (name + " isst gerne " + essen + ".")

Ina isst gerne Pizza.
Cordula isst gerne Erdbeerkuchen.
Daniela isst gerne Schnitzel.
Ella isst gerne Spargel.

## Bedingte Anweisungen (Conditionals)

In [71]:
temp = 20
if temp > 15:
    print("It´s warm.")

It´s warm.

In [73]:
temp = 10
if temp > 15:
    print("It´s warm.")
else:
    print("It´s cold.")

It´s cold.

In [74]:
temp = 30
if temp > 15:
    print("It´s warm.")
else:
    print("It´s cold.")

It´s warm.

In [75]:
temp = 15
if temp >= 25:
    print ("It´s hot.")
elif temp >= 15:
    print ("It´s warm.")
else:
    print ("It´s cold.")

It´s warm.